<div class="bnx-about-container">
    <h2>About Us</h2>
    <p>
      Aesthetics is a branch of science that deals with the study of the theory of beauty. In other words, aesthetics is a philosophy and study of finding beauty in everyday life. Aesthetics play a very vibrant role in our everyday life activities such as speaking, sitting, talking, eating, dressing, etc.
    </p>
    <p>
      Founded in 2000 by Novedya, our company aims to bring beauty and elegance into every aspect of life.
    </p>
  </div>
  